body {

    background: url("../../media/images/backgrond2.png");
}

.hstyle{
    background-color: black;
    margin-bottom: auto;
}

.hstyle img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

.hstyle .menu button{
    background-color: black; /* Green background */
    border: 1px solid white; /* Green border */
    color: white; /* White text */
    width: 25%;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    font-family: 'Montserrat', sans-serif;
}

.hstyle .menu button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.hstyle .menu:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.hstyle .menu button:hover {
    background-color: white;
    color: black;
}

.courses{
    padding-top: 50px;
    padding-bottom: 50px;
    /*justify-content: center;*/
}

.courses .inline{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
.courses .inline .course-item{
    border-radius: 25px;
    border: 5px solid darkred;
    background-color: rgba(255,255,255,0.3);
    width: 250px;
    height: auto;
    padding-top: 7px;
    padding-bottom: 10px;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
}

.courses .inline .course-item img{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
}

.courses .inline .course-item p{
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 0.8;
}

.courses .inline .course-item button{
    background-color: black; /* Green background */
    border: 1px solid white; /* Green border */
    color: white; /* White text */
    width: auto;
    height: auto;
    cursor: pointer; /* Pointer/hand icon */
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.courses .inline .course-item button:hover {
    background-color: white;
    color: black;
}

footer {
    position: fixed;
    background: black;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

footer .images img {
    width: 30px;
    height: auto;
    margin-top: 5px;
}

footer .credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
