<!DOCTYPE html>
<html>
    {% extends 'oncourse/index.html' %}
    {% load static %}

    <head>
        {% block title %}
            Course details
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <link rel="stylesheet" type="text/css" href="{% static 'oncourse/sdetail.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
            <div class="det-body">
                <h1>{{ course.course_name }}</h1>
                <img src="{{ course.image.url }}">

                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% csrf_token %}
                <div class="detail">
                    {% for detail in course.details_set.all %}
                        <p class="det-type">Лектор:</p>
                        <p class="det-det">{{ detail.lecturer }}</p>
                        <p class="det-type">Дата початку:</p>
                        <p class="det-det">{{ detail.date }}</p>
                        <p class="det-type">Опис:</p>
                        <p class="det-det">{{ detail.description }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </body>
</html>

