<!DOCTYPE html>
<html>
    {% extends 'oncourse/index.html' %}
    {% load static %}
    <head>
        {% block title %}
            Log in
        {% endblock %}
    </head>

    <body>
        {% block body %}
            <link rel="stylesheet" type="text/css" href="{% static 'oncourse/loggedout.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
            <h1>Can't register new user while you;re logged in. Logout and try again!</h1>
        {% endblock %}
    </body>
</html>