<!DOCTYPE html>
<html>
    {% extends 'oncourse/index.html' %}
    {% load static %}
    {% block javascript %}
  <script>
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
    $ajax({
        url:"http://127.0.0.1:8000/oncourse/login/",
        type: "POST",
        data: $('#form').serialize();
        success: function (data) {
            console.log('ok');
            $("#form .result").append(data['response']);
        }
    })


  </script>
{% endblock %}

    <head>
        {% block title %}
            Log in
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <link rel="stylesheet" type="text/css" href="{% static 'oncourse/login.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
            <div class="login">
                <h1>Log in</h1>
                <div class="form-s">
                    <form class="site-form" action="{% url 'oncourse:login' %}" method="post">
                        {% csrf_token %}
                        <p>{{ form }}</p>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        {% endblock %}
    </body>
</html>