<!DOCTYPE html>
<html>
{% extends 'oncourse/index.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Профіль</h1>
    <p>Username: {{ user.username }}</p>
    <p>Ім'я: {{ user.first_name }}</p>
    <p>Прізвище: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <table>
        <tr>
            <td>
                <form action="{% url 'oncourse:index' %}" method="get">
                    {% csrf_token %}
                    <input type="submit" value="Back!">
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
</html>