<!DOCTYPE html>
<html>
    {% extends 'oncourse/index.html' %}
    {% load static %}

    <head>
        {% block title %}
            Profile
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <link rel="stylesheet" type="text/css" href="{% static 'oncourse/profile.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">

            <div class="container">
                <h1>User Profile</h1>
                <div class="user-info">
                    <table>
                        <tr>
                            <th>Username :</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>First name :</th>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Last name :</th>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td>{{ user.email }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        {% endblock %}
    </body>
</html>